In [70]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [9]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [23]:
from datetime import datetime

#today = datetime.today
print("Today's date:", datetime.today().strftime('%Y-%m-%d-%H:%M:%S'))

Today's date: 2021-10-23-22:25:08

In [29]:
radius = int(input("please enter radiys of circle to calculate input"))
area = 3.14 * int(radius * radius)
print(area)

please enter radiys of circle to calculate input5
78.5

In [34]:
firstName = input("Please enter your first name")
lastName=input("Please enter your last name")
print(lastName + " " + firstName)

Please enter your first nameali
Please enter your last namezain
zain ali

In [36]:
num1 = int(input("Please enter first number"))
num2 = int(input("Please enter second number"))
print(num1 + num2)

Please enter first number1
Please enter second number1
2

In [38]:
english =int(input("please enter english marks"))
math =int(input("please enter math marks"))
urdu =int(input("please enter urdu marks"))
sst =int(input("please enter sst marks"))
phy =int(input("please enter phy marks"))
total= english + math + urdu + sst + phy
print("English marks: ", english)
print("Math marks: ", math)
print("Urdu marks: ", urdu)
print("SST marks: ", sst)
print("Physics marks: ", phy)
print("Total marks: ", total)

please enter english marks1
please enter math marks2
please enter urdu marks3
please enter sst marks4
please enter phy marks5
English marks:  1
Math marks:  2
Urdu marks:  3
SST marks:  4
Physics marks:  5
Total marks:  15

In [46]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 5
5 is Odd

In [50]:
a = list(map(int,input("\nEnter the numbers with space to save in list : ").strip().split()))
print("The length of list is: ", len(a))

Enter the numbers with space to save in list : 1 2 3 4 5 6 7 8 9 10
The length of list is:  10

In [54]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [55]:
list = [2,34,532,5,454]
print ("largest number is" , max(list))

largest number is 532

In [66]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)
x=[i for i in a if i <5] 
print(x)

1
1
2
3
[1, 1, 2, 3]